@use 'theme' as *;

html {
  max-width: 50rem;
  margin: auto;
  background: $background;
  background-attachment: fixed;
  font: 1.16rem/1.7em "MS Gothic", "Ume Gothic", sans-serif;
  color: $foreground;
}

header {
  text-align: center;
  margin: $default-spacing;
}

h1,
h2,
h3 {
  margin: $default-spacing 0;
}

p {
  margin: auto;
}


a {
  color: $accent;

  &:hover {
    color: $foreground;
  }
}

ul,
ol {
  padding-left: 0;
  margin: $smaller-spacing 0;
}

ol {
  list-style-type: upper-roman;
}

img {
  display: block;
  outline: $default-outline;
  margin: auto;
  max-width: 75%;
  max-height: 25em;
}

li::marker {
  color: $accent;
}

.social {
  margin: auto;
  list-style-type: none;
  overflow: hidden;
  text-align: center;

  >li {
    display: inline-block;
    padding: $default-spacing;
  }

  a {
    text-decoration: none;
  }
}

pre {
  overflow-x: auto;
}

pre,
code {
  font-family: Iosevka, monospace;
  background-color: $background-alt;
  padding: $smaller-spacing;
  margin: $smaller-spacing;
}

nav {
  margin: 0 0 $double-spacing 0;
  text-align: center;
  a { text-decoration: none; }
}

#nowhere {
  overflow: hidden;
  max-height: calc(90vh);
}

.blog {
  list-style-position: inside;
  text-align: center;
}

.zola-anchor {
  color: $foreground;
  text-decoration: none;
}
