$background: #000000;
$background-alt: #303030;
$foreground: #f2faff;
$gradient-1: #00a5ed;
$gradient-2: #f9f871;
$nav-ask: #e17aaf;
$outline: #ad2175;

$default-spacing: 0.27rem;
$smaller: 0.11rem;
$default-outline: $smaller solid $outline;

html {
  max-width: 47rem;
  margin: auto;
  background: linear-gradient($gradient-1, $gradient-2);
  background-attachment: fixed;
  font: 1.2rem/1.6em Inter, MS Gothic, Arial, Helvetica, sans-serif;
  color: $foreground;
  height: 100%;
}

header {
  font-weight: normal;
  text-align: center;
}

h1,h2,h3 { margin: $default-spacing 0;}

p {
  margin: $default-spacing 0;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  background-color: $background;
  outline: $default-outline;
  margin: 0.5rem auto;
  padding: $default-spacing;
}

a {
  color: $foreground;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  outline: $smaller dashed;
}

ul, ol {
  padding-left: 0;
  margin: $smaller 0; 
}

ol { list-style-type: katakana; }

li::marker {
  color: $outline;
}
  
.social ul {
    margin: auto;
    list-style-type: none;
    overflow: hidden;
}

.social ul > li {
  display: inline-block;
}

pre {
  overflow-x: auto;
}

pre, code {
    font-family: Iosevka, monospace;
    background-color: $background-alt;
    padding: 0.1rem;
    margin: 0.1rem;
}

.zola-anchor {
  text-decoration: none;
  animation: blink-animation 1s step-start 0s infinite;
}

@keyframes blink-animation {
  50% {
    opacity: 0%;
  }
}

.navigator {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  width: fit-content;
  background-color: $background;
  outline: $default-outline;
  padding: $default-spacing;

  #ask {
    color: $nav-ask;
  }

  p {
    margin: auto;
  }
}

img {
  display: block;
  outline: $default-outline;
  margin: auto;
  height: 25rem;
}

.image {
  position: fixed;
  background-color: $foreground;
  bottom: 0.5rem;
  left: 0.5rem;
  height: 7rem;
}

.scroller {
  display: flex;
  position: absolute;
  top: 0;
  left: 0.5rem;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  white-space: nowrap;
  opacity: 0;
  color: black;  

  animation: move 69s linear infinite;
  text-orientation: upright;
  writing-mode: vertical-rl;
}

@keyframes move {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  1% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 100%);
    opacity: 0;
  }
}

