/* MAIN */
html {
    max-width: 45rem;
    color: #fff;
    background-color: #000;
    font: 1.2rem/1.6em Iosevka Aile, sans-serif;
    margin: 0.5rem auto;
}

/* HEADERS */
h1,h2,h3 { text-transform: lowercase; }
h1 { margin: 0.5rem 0 0 0; }

/* LINKS */
a {
    color: #268bd2;
    text-decoration: none;
}
a:hover { text-decoration: underline; }

/* CODE */
pre {
    font-family: Iosevka, monospace;
    overflow-x: auto;
}

pre, code {
    background-color: #222;
    color: #fff;
    border-radius: 0.25em;
    padding: 0.25em;
}

/* OTHER */
table {
    text-align: left;
    width: 100%;
}
td, th {
    vertical-align: top;
    padding: 0.5rem 1rem 0.5rem 0;
    border-bottom: 0.05rem solid #fff;
}
td:last-child, th:last-child { padding-right: 0; }
tr:last-child td { border-bottom: 0; }

ul, ol {
    padding: 0;
    list-style-position: inside;
}

hr { border: 0.01rem solid #aaa; }

footer { font-size: 0.8rem; }

/* ARTICLES */
article {
    display: inline;
}
p.date {
    margin-top: 0.1rem;
    font-size: 0.8rem;
}

ul.articles { list-style: none; }
li p:last-child { margin: 0; }
li ul, li ol { margin-left: 1rem; }

.text {
    float: left;
    max-width: 25em;
}

.social {
    float: right;
    text-align: right;
}
.social ul {
    margin-bottom: 0;
    list-style-type: none;
    overflow: hidden;
}

#satapo-text {
    display: none;
}

@media (max-width: 725px) {
    .text {
        float: none;
        max-width: 100%;
    }

    .social {
        float: none;
        text-align: center;
    }

    .social ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow: hidden;
    }
    .social ul li {
        display: inline-block;
        list-style-type: none;
    }

    #satapo {
        display: none;
    }

    #satapo-text {
        display: block;
    }
}

@media (prefers-color-scheme: light) {
    html {
        color: #000;
        background-color: #fff;
    }
    a { color: #0e2bff; }
    pre, code {
        background-color: #aaa;
        color: #000;
    }
    td, th {
        border-bottom-color: #000;
    }
}
