/* MAIN */
* {
    box-sizing: border-box;
}

html {
    color: #000;
    background-color: #fff;
    font: 1.2rem/1.6em Iosevka Aile, sans-serif;
    margin: 0.5rem auto;
    max-width: 45rem;
}

/* HEADERS */
h1,h2,h3 { text-transform: lowercase; }
h1 { margin: 0.5em 0 0 0; }

/* LINKS */
a {
    color: #0e2bff;
    text-decoration: none;
}
a:hover { text-decoration: underline; }

/* CODE */
pre {
    font-family: Iosevka, monospace;
    overflow-x: auto;
}

pre, code {
    background-color: #ddd;
    color: #000;
    border-radius: 0.25em;
    padding: 0.25em;
}

/* OTHER */
table {
    text-align: left;
    width: 100%;
}
td, th {
    vertical-align: top;
    padding: 0.5rem 1rem 0.5rem 0;
    border-bottom: 0.05rem solid #000;
}
td:last-child, th:last-child { padding-right: 0; }
tr:last-child td { border-bottom: 0; }

ul, ol {
    padding: 0;
    list-style-position: inside;
}

hr { border: 0.01rem solid #aaa; }

footer { font-size: 0.8rem; }

/* ARTICLES */
p.date {
    margin-top: 0.1rem;
    font-size: 0.8rem;
}

ul.articles { list-style: none; }
li p:last-child { margin: 0; }
li ul, li ol { margin-left: 1rem; }

.social {
    text-align: center;
}
.social ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
.social ul li {
    display: inline-block;
    list-style-type: none;
}

header {
    display: flex;
    flex-wrap: wrap;
}
header a#chtc {
    margin-right: 1vw;
    flex: 1; /* pushes nav to the right */
    white-space: nowrap;
}

nav a:not(:last-of-type) {
    margin-right: 1vw;
}

@media (prefers-color-scheme: dark) {
    html {
        color: #fff;
        background-color: #000;
    }
    a { color: #268bd2; }
    pre, code {
        background-color: #222;
        color: #fff;
    }
    td, th {
        border-bottom-color: #fff;
    }
}
