{{ define "main" }}
{{ .Description }}
<content>
    {{ if .Data.Singular }}
    <h3 style="margin-bottom:0">Filtering for "{{ .Title }}"</h3>
    <small>
        <a href="{{ "/blog" | relURL }}">Remove filter</a>
    </small>
    {{ end }}
    <ul class="blog-posts">
        {{ range .Pages }}
        <li>
            <span>
                <small>
                    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
                        {{ .Date.Format (default "Jan 2, 2006" .Site.Params.dateFormat) }}
                    </time>
                    (<time datetime='{{ .Lastmod.Format "2006-01-02" }}'>{{ .Lastmod.Format (default "Jan 2, 2006" .Site.Params.dateFormat) }}</time>)
                </small>
            </span>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ else }}
        <li>
            No posts yet
        </li>
        {{ end }}
    </ul>
    {{ if .Data.Singular }}
    {{else}}
    <small>
        <div>
            {{ range .Site.Taxonomies.tags }}
            <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>&nbsp;
            {{ end }}
        </div>
    </small>
    {{ end }}
</content>
{{ end }}
