* {
  --bg: #fefefe;
  --fg: #000;
  --link: #0c56b0;
  --linkv: #639;
}

@media (prefers-color-scheme: dark) {
  * {
    --bg: #090909;
    --fg: #fff;
    --link: #0ac;
    --linkv: #b57fec;
  }
}

body {
  background-color: var(--bg);
  color: var(--fg);
  max-width: 69%;
  margin: 1em auto;
  padding: 0 0.625em;
  font: 1.15em/1.8 sans-serif;
}

@media print {
  body {
    max-width: none;
  }
}

@media (max-width: 500px) {
  body {
    max-width: none;
    padding: 0 0.475em;
  }
}

h1,
h2,
h3 {
  line-height: 1.4;
}

a:link {
  color: var(--link);
  text-decoration: none;
}

a:visited {
  color: var(--linkv);
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  margin: 0;
  padding: 2em 0;
  font-size: 0.95em;
}

nav > ul,
.social > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav > ul > li,
.social > ul > li {
  font-size: 1.155em;
  padding-right: 5px;
  display: inline;
}

ul.articles {
  list-style: none;
  padding: 0;
}

ul.articles li {
  padding-bottom: 6px;
}
