:root {
    --fg: #d2dae2;
    --bg: #1e272e;
    --gray: #485460;
    --link: #ef5777;
}

body {
    color: var(--fg);
    background-color: var(--bg);
    font: 1.255rem/1.5 sans-serif;
    max-width: 69ch;
    margin: 0 auto;
    padding: 2.5rem 1.75rem;
}

/* elements */
nav {
    position: static;
    display: inline;
    margin: 1em auto;
}

h1 {
    margin-bottom: 0;
}

p.date {
    margin-top: 0;
    font-size: 1em;
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.2;
}

nav a {
    display: inline;
    font-size: 1.5em;
    padding-left: 0;
}

footer {
    font-size: 1rem;
    text-align: center;
}

/* links */
a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: none;
    border-bottom: 1px solid var(--fg);
}

/* table */
table {
    width: 100%;
}

table,
th,
td {
    border-collapse: collapse;
    border-left: 1px solid var(--fg);
    border-right: 1px solid var(--fg);
    padding: 5px;
}

th {
    background-color: var(--fg);
    color: var(--bg);
}

ul,
ol {
    padding: 0;
    list-style-position: inside;
}

/* socials */
.socials svg {
    width: 30px;
    height: 30px;
}

.socials svg path,
.socials svg polygon{
    fill: var(--link);
}

/* articles */
ul.articles {
    list-style: none;
}

@media print {
    body {
        max-width: 100%;
    }

    nav {
        display: none;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    hr {
        border-bottom: 1px solid black;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
